@using Microsoft.AspNetCore.Identity
@using BlueSun.Data.Models


@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject IArtistService Artists

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {

        var userId = User.Id();
        var userIsArtist = Artists.IsArtist(userId);
        var userIsAdmin = User.IsAdmin();

        <li class="nav-item dropstart" style="width: 70px;">
            <a class="nav-link dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="https://cdn-icons.flaticon.com/png/512/3033/premium/3033143.png?token=exp=1648382755~hmac=a04aa71c75908d8e03618cb83eb9bea3" alt="" width="30" height="30">
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Manage Account</a></li>
                @if (userIsArtist && !userIsAdmin)
                {
                    <li>
                        <a class="dropdown-item" asp-area="" asp-controller="NFTCollections" asp-action="MyCollections">My Collections</a>
                    </li>
                }
                @if (!userIsAdmin && !userIsArtist)
                {
                    <li>
                        <a class="dropdown-item asp-area=" asp-area="" asp-controller="Artists" asp-action="Become">Become Artist</a>
                    </li>
                }
            </ul>
        </li>

        <li class="nav-item" style="width: 60px;">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">
                    <img src="https://cdn-icons-png.flaticon.com/512/660/660350.png" alt="" width="30" height="30">
                </button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
