@using Microsoft.AspNetCore.Identity
@using BlueSun.Data.Models

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject IArtistService Artists

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {

        var userId = User.Id();
        var userIsArtist = Artists.IsArtist(userId);


        @if (userIsArtist)
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-controller="NFTCollections" asp-action="MyCollections">My Collections</a>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-controller="Artists" asp-action="Become">Become Artist</a>
            </li>
        }


        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Account</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
