@model BecomeArtistFormModel

@{
    ViewBag.Title = "Become an Artist | BlueSun";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12 offset-lg-3 col-lg-8 offset-xl-3 col-xl-6">
            <h2 class="mb-5 text-center">Become an Artist</h2>
            <form method="post">
                <div class="form-group mb-4">
                    <label asp-for="PhoneNumber"></label>
                    <input asp-for="PhoneNumber" class="form-control" placeholder="+359-888-888-888"/>
                    <span asp-validation-for="PhoneNumber" class="small text-danger"> </span>
               </div>
                <div class="d-grid d-md-block mt-3">
                    <button class="btn btn-primary mt-3" type="submit">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}